<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184475424927-1gpfkbpnfhdp4qvd0bkgo65342m5h74q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184475424927-1gpfkbpnfhdp4qvd0bkgo65342m5h74q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>184475424927-1jetlrmsa5otjfdf8r3qu69d5lnl0c2l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8DtEAEcGIE-DrP6kFbV08wbOb3P_Z1To</string>
	<key>GCM_SENDER_ID</key>
	<string>184475424927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takt</string>
	<key>PROJECT_ID</key>
	<string>book-search-472921</string>
	<key>STORAGE_BUCKET</key>
	<string>book-search-472921.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184475424927:ios:58036b4e426356e0d42aaa</string>
</dict>
</plist>